<p id="notice"><%= notice %></p>

<p>
  <strong>Order number:</strong>
  <%= @order.order_number %>
</p>

<p>
  <strong>Campaign name:</strong>
  <%= @order.campaign_name %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @order.agency %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @order.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @order.end_date %>
</p>

<p>
  <strong>Site:</strong>
  <%= @order.site %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
