<h1>Listing line_items</h1>

<table>
  <thead>
    <tr>
      <th>Line item number</th>
      <th>Format</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Creative</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.line_item_number %></td>
        <td><%= line_item.format %></td>
        <td><%= line_item.start_date %></td>
        <td><%= line_item.end_date %></td>
        <td><%= line_item.creative %></td>
        <td><%= link_to 'Show', line_item %></td>
        <td><%= link_to 'Edit', edit_line_item_path(line_item) %></td>
        <td><%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line item', new_line_item_path %>
